@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Trebuchet MS', 'Montserrat', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --disabled-box-bg-color: #f3f3f3;
  --blue-bg-color: #0070f3;
  --hover-blue-bg-color: #034998;
}

body {
  background-image: linear-gradient(#d17fb7, var(--blue-bg-color));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* text-colors */
.gray-text {
  color: rgb(133, 133, 133);
}

.blue-text {
  color: var(--blue-bg-color);
  font-weight: 600;
}

.navbar-container {
  border-bottom: 1px solid rgb(200, 196, 255);
}

.navbar {
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: space-between;
  max-width: 60rem;
  margin: 0 1rem;
}

.logo-title {
  width: 100%;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  color: var(--blue-bg-color);
}

.action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  max-width: 60rem;
  margin: 0 1rem;
}

.new-game-button {
  padding: 10px 5px;
  background-color: var(--blue-bg-color);
  border: 1px solid white;
  color: white;
  border-radius: 3px;
}

.new-game-button:hover {
  background-color: var(--hover-blue-bg-color);
  cursor: pointer;
}

.dropdown-container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.dropdown-menu {
  border: none;
  background-color: var(--blue-bg-color);
  color: white;
  padding: 8px 0;
  border: 1px solid white;
  border-radius: 3px;
}

.dropdown-menu:focus {
  outline: none;
}

.dropdown-menu:hover {
  background-color: var(--hover-blue-bg-color);
}

.board-container {
  display: flex;
  justify-content: center;
}

.board {
  border: 4px solid black;
}

.row {
  display: grid;
  grid-template-columns: repeat(9, auto);
}

.row:not(:last-child) {
  border-bottom: 1px solid black;
}

.row:nth-child(3n):not(:last-child) {
  border-bottom: 3px solid black;
}

.box:not(:last-child) {
  border-right: 1px solid black;
}

.box:nth-child(3n):not(:last-child) {
  border-right: 3px solid black;
}

.box:nth-child(9n) {
  border-right: 0;
}

.box {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  border: 0;
  outline: 0;
}

.box:focus:not([disabled]):not(.boxError) {
  color: white;
  background-color: var(--blue-bg-color);
}

.box:not([disabled]) {
  cursor: pointer;
  color: var(--blue-bg-color);
}

.box[disabled] {
  background-color: var(--disabled-box-bg-color);
  color: rgb(67, 67, 67);
}

.box.boxError {
  background-color: pink;
  color: black;
}

/* Remove arrows from number input  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@media (min-width: 425px) {
  .box {
    width: 2.5rem;
    height: 2.5rem;
  }
}

/* media queries */
@media (min-width: 768px) {
  .navbar,
  .action-bar {
    margin: 0 auto;
  }

  .box {
    width: 3rem;
    height: 3rem;
  }
}
